<div id="calculator">
  <div id="displayScreen"><span id="displayText">{{displayText}}</span></div>
  <div id="buttonGrid">
    <button id="button7" value="7" (click)="enter($event)">7</button>
    <button id="button8" value="8" (click)="enter($event)">8</button>
    <button id="button9" value="9" (click)="enter($event)">9</button>
    <button id="buttonMinus" value="-" (click)="enter($event)" class="operator-button">-</button>
    <button id="button4" value="4" (click)="enter($event)">4</button>
    <button id="button5" value="5" (click)="enter($event)">5</button>
    <button id="button6" value="6" (click)="enter($event)">6</button>
    <button id="buttonPlus" value="+" (click)="enter($event)" class="operator-button">+</button>
    <button id="button3" value="3" (click)="enter($event)">3</button>
    <button id="button2" value="2" (click)="enter($event)">2</button>
    <button id="button1" value="1" (click)="enter($event)">1</button>
    <button id="buttonTimes" value="*" (click)="enter($event)" class="operator-button">*</button>
    <button id="buttonClear" value="C" (click)="reset()" class="operator-button">C</button>
    <button id="button0" value="0" (click)="enter($event)">0</button>
    <button id="buttonEquals" value="=" (click)="calculate()" class="operator-button">=</button>
    <button id="buttonDivide" value="/" (click)="enter($event)" class="operator-button">/</button>
  </div>
</div>